:root{
    --rot: rgb(225,0,0);
    --frag: 100px 50%;
}



*{
    color: var(--rot);
}

.rem{
    font-size: 18px;
}

.em{
    font-size: 10px;
    padding: var(--frag);
    background-color: rgb(219, 157, 82);
}

.para-a{
    font-size:3em;
}

.para-b{
    font-size: 3rem;
}

.ciao{
    color: rgb(100,25,55);
    text-align: center;
}

ul{

    list-style: none;
}

li{
    display: inline-block;
}

.ciao-square{
    margin: 0 auto;
    padding: 10%;
    margin-right: 90%;
    background-color: #1706fc;

}

.p-s{
    color:brown;
}

.p-a{
    color: rgb(255,255,25);
}

.p-b{
    color:rgba(100%, 0%, 0%, 70%);
}

.p-c{
    display: none;
    color:#1706fc;
}

.hey-a{
    border: 1px solid rgb(68, 68, 68);
    width: 20px;
    height:20px;
    background-color: var(--rot);
    display: inline;

}

.hey-b{
    border: 1px solid rgb(68, 68, 68);
    width: 20px;
    height:20px;
    background-color: var(--rot);
    display: inline-block;

}

.hey-c{
    border: 1px solid rgb(68, 68, 68);
    width: 20px;
    height:20px;
    background-color: var(--rot);
    display:block;
}

.dec{
    width: 300px;
    display: inline-block;
}



.foto{
    float:  right;
    padding: 200px;
    text-align: center;
    background-color: green ;

}
