:root{
    --color: rgb(20,145,67);
    --padd: 200px 300px;

}

*{
    color: var(--color);
}

div{
    padding: var(--padd);
    margin-left: 20px;
}

li{
    display: inline-block;
}

span{
    width:20px;
    height:20px;
    padding: 10px;
    border: 1px solid black;
    background-color: brown;
}

.a{
    display: inline-block;

}

.b{
    display: inline;
}

.c{
    display:block;
}

.hidden{
    display: none;
}




img{
    float: right;
}