:root{
    --color: rgb(20,145,67);
    --padd: 100px 200px;

}

*{
    color: var(--color);
}

.nav{
    background-color: bisque;
    height: 100px;
    align-content: center;
    top:0;
    position:fixed;
}
.nav .bar{
    background-color: rgb(250, 208, 157);
    
}

div{
    padding: var(--padd);
    margin-left: 20px;
}

li{
    display: inline-block;
    padding: 10px 30px;
    
}

span{
    width:20px;
    height:20px;
    padding: 10px;
    border: 1px solid black;
    background-color: brown;
}

.a{
    display: inline-block;

}

.b{
    display: inline;
}

.c{
    display:block;
}

.hidden{
    display: none;
}

img{
    float: right;
}

.table{
    width: auto;
}

.table p{
    width: 200px;
    display: inline-block;
}

footer{
    position: fixed;
    bottom:0;
    background-color: bisque;
}

.foot{
    margin: 20px;
}

.quadrato{
    background-color: brown;
    width: 300px;
    height: 300px;
    padding: 0;
    margin:0;
    position: fixed;
    bottom: 0;
    right: 0;
}


/*card url(https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards)*/
.card{
    margin: 0;
    padding:0;
    width: 200px;
    height: 200px;
    position: relative;
    background-color: bisque;
    box-shadow: 1px 3px 10px rgba(19, 19, 19, 0.3);
}

.X{
    margin: 0;
    position:absolute;
    top:0;
    right: 0;
    color:red;

}

.card-text{
    margin: 0;
    padding: 0;
    text-indent: 10px;
    background-color: rgb(40, 40, 40);
    width: fit-content;
    padding: 30px 86px 10px  10px;
    box-shadow: 3px 1px 5px rgba(19, 19, 19, 0.5);

}

.card-text p{
    margin: 0;
}

.flex{
    width: auto;
    height: 800px;
    display: flex;
}

.flex div{
    height: 20px;
}

.box-a{
    padding: 20px ;
    margin: 0;
    background-color: rgb(255, 231, 159);
    flex-grow: 1;
}

.box-b{
    margin: 0;
    padding: 20px ;
    flex-basis: 150px;
    background-color: rgb(255, 179, 87);
    flex-grow:2;
    align-self: center;
}

.box-c{
    margin: 0;
    padding: 20px ;
    background-color: rgb(255, 140, 0);
    flex-grow: 3;
    align-self:end;
}

